.font-cursive {
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.font-cursive2 {
  font-family: 'M PLUS 1 Code', monospace;
}
.font-cursive3 {
  font-family: 'M PLUS Code Latin', monospace;
}

.font-semibold {
  font-weight: 500;
}

  